<div class="fields">
	<%= f.label :ingredient_id, 'Ingrediente' %><br />
	<%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, :prompt => true, :allow_blank => false %>
	<%= f.text_field :quantity %> Kgs
 	<%= link_to_remove_fields "(eliminar)", f %>
</div>

