<% @recipes.each do |r| %>
	<div style="float:left; margin:10px; background:#f6f6f6">
		<%= link_to image_tag(r.recipe_images.first.image, width: '180px', height: '180px'), r %><br />
		<p style="text-align:center;">
			<%= link_to r.name, r %><br />
			<% r.meals.each do |meal| %>
				| <em><%= meal.name %></em> | 
			<% end %>
			<br />
			<% r.get_main_ingredients.each do |ri| %>
				<em style="font-size:10px">| <%= ri.ingredient.name %> |</em> 
			<% end %>
		</p>
	</div>
<% end %>
<div class="clear"></div>