<div style="background-color: black; text-align:center; padding:1px 0px 1px 0px">
</div>
<div style="text-align:center; margin-top:200px; left:30%; position:absolute; z-index:99;">
	¡¡Hola!!
</div>

<div class="center" id="home_content">
	
</div>

<div style="background-color: black; text-align:center; padding:10px 0px 10px 0px">
	<span style="color:white">"Este sistema me hace la vida más feliz porque ahora..." - Juanita Perez</span text->
</div>

<div style="">
	<div style="width:984px; margin:0 auto; padding: 50px 0 50px;">
		<div style="width: 436px; float: left;
		min-height: 1px;
		padding: 0 15px;
		position: relative;">
			<h1>HIGH FIDELITY PROTOTYPING & COLLABORATION — FOR DESIGNERS, BY DESIGNERS</h1>
			<h2>Whether you need to quickly share a single mockup or demo a complex mobile app, InVision gives you the tools to show off your designs like never before.</h2>
		</div>
		<div style="
			background: url(<%= asset_path 'landing_page/video-in-laptop.png' %>) no-repeat center top;
			width: 740px;
			height: 384px;
			position: relative;
			left:350px;
			display: block;">
		</div>
	</div>
<div class="clear"></div>
</div>

<div style="background-color: black; text-align:center; padding:10px 0px 10px 0px">
	<span style="color:white">"Este sistema me hace la vida más feliz porque ahora..." - Juanita Perez</span text->
</div>

<div style="">
	<div style="width:984px; margin:0 auto; padding: 50px 0 50px;">
		<h1>Sign up for FREE and start using Shopping List in seconds</h1>
		<div style="text-align:center; margin:10px">
			<input type="text" class="rounded" value="Nombre" /> 
			<input type="text" class="rounded" value="Correo" /> 
			<input type="text" class="rounded" value="Clave" />
			<input type="submit">
		</div>
	</div>
	<div style="text-align:center; margin-top:200px; left:30%; position:absolute; z-index:99;">
		<h1>¡¡En todo el mundo lo están usando!!</h1>
	</div>
	<div style="
		background: url(<%= asset_path 'landing_page/world-map.png' %>) no-repeat center top;
		width: 950px;
		height: 500px;
		margin:0 auto;">
	</div>
</div>
